<section class="container centered">
  <div class="about">
    {{ with .Site.Params }}
      <div class="avatar"><img src="{{ .avatarurl | relURL }}" alt="{{ .author }}"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    <p id="home-info">{{ .Site.Params.info }}</p>
  </div>
</section>
