<section class="container centered">
    <div class="about">
      <div id="about-container">
        {{ with .Site.Params }}
          <div class="avatar">
            <picture>
              <source srcset="{{ .avatarurl_webp | relURL }}" type="image/webp">
              <source srcset="{{ .avatarurl | relURL }}" type="image/jpeg"> <!-- Fallback for non-WebP browsers -->
              <img src="{{ .avatarurl | relURL }}" alt="{{ .author }}"> <!-- Fallback if picture is not supported at all -->
            </picture>
          </div>
        {{ end }}
        <h1>{{ .Site.Params.author }}</h1>
        {{ with .Site.Params.social }}
        <ul>
          {{ range sort .}}
            {{ if .icon }}
              <li>
                <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
                  <i class="{{ .icon }}" aria-hidden="true"></i>
                </a>
              </li>
            {{ else }}
              <li>
                <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div id="home-info-container">
        <div id="home-info">{{ .Site.Params.info | markdownify}}</div>
        <div id="home-info-small">{{ .Site.Params.infosmall | markdownify}}</div>
      </div>
    </div>
  </section>
  